.assessments-types__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.assessments-types__item {
  width: 290px;
}

.assessments-types__item--top:nth-child(1) {
  padding-left: 30px;
  padding-top: 55px;
}

.assessments-types__item--top:nth-child(2) {
  padding-left: 125px;
}

.assessments-types__item--top:nth-child(3) {
  padding-left: 86px;
  padding-top: 55px;
}

.assessments-types__item--top:nth-child(4) {
  padding-left: 30px;
  padding-top: 105px;
}

.assessments-types__item--top:nth-child(5) {
  padding-left: 503px;
  padding-top: 105px;
}

.assessments-types__item--bottom:nth-child(1) {
  padding-left: 30px;
  padding-top: 55px;
}

.assessments-types__item--bottom:nth-child(2) {
  padding-left: 125px;
  padding-top: 92px;
}

.assessments-types__item--bottom:nth-child(3) {
  padding-left: 86px;
  padding-top: 55px;
}

.assessments-types__title {
  margin: 0;
  margin-bottom: 20px;
}

.assessments-types__description {
  padding-bottom: 20px;
  border-bottom: #DEE1E5 1px solid;
}

.assessments-types__description--bottom {
  color: $light-gray;
  border-bottom: 1px solid #546476;
}

.assessments-types__link {
  font-family: $PFCentroSlabProMedium;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: $yellow;
}

.assessments-types__link:hover {
  text-decoration: none;
}

.assessments-types__description {
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}



@media (max-width: 1200px) {

  .assessments-types__item {
    margin-bottom: 10px;
  }

  .assessments-types__item:nth-child(1n) {
    width: 768px;
    padding: 0;
  }

}