.button {
  display: block;
  padding: 12px 34px;
  margin: 0 auto;
  font-family: $PFCentroSlabProBold;
  font-size: 20px;
  line-height: 22px;
  background-color: $yellow;
  border: none;
  border-bottom: 3px solid $dark-yellow;
  cursor: pointer;
 }

.button:hover, .button:focus {
  background-color: $yellow-hover;
}

