@font-face {
  font-family: "PFCentroSlabProBold";
  src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot");
  src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff") format("woff"),
  url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFCentroSlabProMedium";
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"),
  url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
  url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
  url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}