.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__title {
  margin: 0;
  font-family: "PFCentroSlabProMedium", "RobotoBold", sans-serif;
  font-size: 48px;
  line-height: 63px;
  margin-bottom: 40px;
  color: #fff;
  border-bottom: 8px solid #f19c49;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__link {
  display: flex;
  align-items: center;
  font-family: "RalewaySemiBold", "RobotoBold", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
}

.intro__link:hover {
  text-decoration: underline;
}

.intro__link::before {
  content: '';
  display: block;
  margin-right: 10px;
  height: 0;
  width: 0;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #F39F18;
  border-top: 6px solid transparent;
}