.line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 177px;
}

.line--white {
  background-color: #e5e5e5;
}

.line--blue {
  background-color: #2c3948;
}

.line--light-blue {
  background-color: #394b5d;
}