.main-nav__list {
  height: 48px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding: 0 10px;
}

.main-nav__item:first-child {
  padding-left: 0px;
}

.main-nav__item:last-child {
  padding-right: 0px;
}

.main-nav__link {
  font-size: 14px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.main-nav__link:hover {
  color: $yellow;
  opacity: 1;
  text-decoration: underline;
}

.main-nav__link--footer {
  opacity: 0.5;
}

.main-nav__link--selected {
  text-decoration: underline;
  color: $yellow;
  opacity: 1;
}


@media (max-width: 1200px) {

  .main-nav {
    width: 280px;
    border-bottom: #111821 4px solid;
    border-top: #232D3B 4px solid;
  }

  .main-nav__list {
    flex-direction: column;
    height: auto;
  }

  .main-nav__item {
    padding: 0;
    background-color: #1c252c;
    border-bottom: #222C36 1px solid;
  }

  .main-nav__item--selected {
    background-color: #273646;
  }

  .main-nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 13px;
    text-transform: uppercase;
  }

  .main-nav__link--selected {
    font-family: $RalewayBold;
    text-decoration: none;
  }
}
