.main-nav__list {
  height: 48px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding: 0 10px;
}

.main-nav__item:first-child {
  padding-left: 0px;
}

.main-nav__item:last-child {
  padding-right: 0px;
}

.main-nav__link {
  font-size: 14px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.main-nav__link:hover {
  color: #f29d38;
  opacity: 1;
  text-decoration: underline;
}

.main-nav__link--footer {
  opacity: 0.5;
}
