.offer-form {
  padding: 38px 32px;
  width: 297px;
  border-bottom: 4px solid $dark-blue;
  background-color: rgba(36,51,67, 0.8);
}

.offer-form__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: $PFCentroSlabProMedium;
  font-weight: 400;
  font-size: 28px;
  line-height: 18px;
  color: #fff;
}

.offer-form__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 20px;
  color: #97a4b2;
}

.offer-form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.1em;
  color: #778390;
}

.offer-form__input {
  display: block;
  width: 100%;
  padding: 14px 0px;
  border: none;
  box-shadow: 0 -3px $dark-blue;
  background-color: $blue;
  font-family: $PFCentroSlabProBold;
  text-indent: 10px;
  color: #fff;
}

.offer-form__wrapper {
  margin-bottom: 23px;
}

.offer-form__button {
  margin-top: 32px;
}

.offer-form--about {
  background-color: $gray;
  opacity: 1;
  border-bottom: 4px solid #828282;
}

.offer-form__heading--about {
  font-weight: 400;
  color: $navyblue;
}

.offer-form__text--about {
  color: #5e6267;
}

.offer-form__input--about {
  background-color: #c0c0c0;
  box-shadow: 0 -3px #828282;
  color: $main;
}

.offer-form__label--about {
  color: #778390;
}
