.page-footer {
  background-color: $navyblue;
}

.page-footer__piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.page-footer__header {
  width: 100%;

}

.page-footer__footer {
  height: 37px;
  background-color: #1f2c39;
}

.page-footer__button {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  overflow: hidden;
  text-indent: -9999em;
  background-color: $navyblue;
  background-image: url("/img/top.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  border: 0;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.page-footer__button:hover {
  opacity: 1;
}


@media (max-width: $tablet-width) {

  .page-footer__header {
    margin: 0;
  }

  .page-footer__piece {
    height: 70px;
  }

}