.page-header {
  padding-top: 48px;
  background-color: $blue;
  min-height: 750px;
  background-image: url("/img/header_bg.jpg");
  background-position: center;
  background-size: cover;
}

.page-header__header {
  margin-bottom: 106px;
}

.page-header__intro {
  margin-bottom: 39px;
}

.page-header__arrow {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background-image: url("/img/arrow_down.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: -9999em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.page-header__arrow:hover {
  opacity: 1;
}