.reviews {
  background-color: $gray;
  padding-bottom: 140px;
}

.reviews__content-wrapper {
  position: relative;
}

.reviews__intro {
  padding-bottom: 60px;
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reviews__review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.reviews__img {
  display: block;
  border-radius: 100px;
  border: 5px solid $yellow;
  margin-bottom: 20px;
}

.reviews__author {
  display: block;
  margin-bottom: 5px;
  font-family: $RalewayBold;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.reviews__company {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #6e7b8b;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 942px;
  text-align: center;
}

.reviews__button {
  position: absolute;
  overflow: hidden;
  top: 50%;
  width: 15px;
  height: 28px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-image: url("/img/slider_arrows.png");
  background-repeat: no-repeat;
  text-indent: -9999em;
  transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 0.2s;
  opacity: 0.7;
  cursor: pointer;
}

.reviews__button:hover {
  opacity: 1;
}

.reviews__button--prev {
  left: 40px;
}

.reviews__button--next {
  right: 40px;
  transform: rotate(180deg);
}

.reviews__mobile-slider {
  display: none;
}

.reviews__dots {
  display: flex;
  width: 65px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.reviews__dot-button {
  display: block;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 30px;
  background-color: #ccc;
  cursor: pointer;
}

.reviews__dot {
  margin: 0 3px;
}

.reviews__dot-button--active {
  background-color: $yellow;
}

@media (max-width: $tablet-width) {
  .reviews {
    padding-bottom: 100px;
  }

  .reviews__button {
    display: none;
  }

  .reviews__text {
    margin-bottom: 20px;
  }

  .reviews__mobile-slider {
    display: block;
  }
}
