$yellow: #f39f18;
$yellow-hover: #ffa718;
$dark-yellow: #b97200;
$dark-blue: #1f2a36;
$navyblue: #2c3949;
$blue: #394b5f;
$main: #333;
$light-gray: #f9f9f9;
$gray: #e5e5e5;
$dark-gray: #d6d6d6;
$color: #394b5f;

$RalewayRegular: "RalewayRegular", "Roboto", "Verdana", sans-sarif;
$RalewaySemiBold: "RalewaySemiBold", "RobotoBold", "Verdana", sans-sarif;
$RalewayBold: "RalewayBold", "RobotoBold", "Verdana", sans-sarif;
$PFCentroSlabProMedium: "PFCentroSlabProMedium", "RobotoBold", "Verdana", sans-sarif;
$PFCentroSlabProBold: "PFCentroSlabProBold", "RobotoBold", "Verdana", sans-sarif;
$RobotoBold: "RobotoBold", "Verdana", sans-sarif;
