.decoration {
  position: relative;
  padding-top: 100px;
}
.decoration::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: url("../img/bah_1.png");
}

.decoration--top::before {
  top: -6px;
}

.decoration--blue::before {
  top: -6px;
  background-image: url("../img/bah_2.png");
}

.decoration--gray::before {
  top: -6px;
  background-image: url("../img/bah_3.png");
}

.decoration--footer {
  padding-top: 0px;
}