.how {
  background-color: $navyblue;
}

.how__intro {
  margin-bottom: 45px;
}

.how__content {
  padding-bottom: 70px;
}

.how__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 15px;
  margin: 0;
}

.how__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 45px;
}

.how__item-wrapper::before {
  display: block;
  content: "";
  height: 40px;
  width: 35px;
  padding-right: 7px;
  background-image: url("/img/icons/section_5/1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.how__item-wrapper--contract::before {
  background-image: url("/img/icons/section_5/2.svg");
}

.how__item-wrapper--evaluation::before {
  background-image: url("/img/icons/section_5/3.svg");
}

.how__item-wrapper--reply::before {
  background-image: url("/img/icons/section_5/4.svg");
}

.how__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 277px;
  height: 150px;
  background-image: url("/img/tc_triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 286px 128px;
}

.how__item:first-child {
  background-image: url("/img/tc_triangle_first.svg");
  left: 45px;
}

.how__item:nth-child(2) {
  left: 15px;
}

.how__item:nth-child(3) {
  right: 15px;
}

.how__item:last-child {
  right: 45px;
}

.how__text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 148px;
  font-family: $PFCentroSlabProMedium;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.how__text-decor {
  display: block;
  font-family: $PFCentroSlabProBold;
  font-size: 22px;
  padding-right: 5px;
  line-height: 22px;
}

@media (max-width: 1200px) {

  .how__item:nth-child(1n) {
    right: 0;
    left: 0;
  }

}